{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student career roadmap</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--NAVBAR-->
    <nav>
        <h2>CAREER ROADMAP</h2>
        <ul>

        </ul>
    </nav>
    <!--CAREER LIST-->
    <section class="careersection">
        <h1>CAREER LIST</h1>
        <p>Select a career to know more about it</p>
       {% for career in careers %}
<div class="careerdetails">
    <h2>{{ career.title }}</h2>

    <p>{{ career.description|truncatewords:20 }}</p>

    <a href="{% url 'career_details' career.id%}">
        <button>View Details</button>
    </a>
</div>
 
{% endfor %}

    </section>
    
     <!--FOOTER-->
    <footer>
        <p>© 2026 Student Carrer Roadmap.All Rights Reserved. </p>
    </footer>
</body>