{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student career roadmap</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--NAVBAR-->
    <nav>
        <h2>CAREER ROADMAP</h2>
        <ul>
           <li><a href="{% url 'home'%}">HOME</a></li>
           <li><a href="{% url 'about'%}">ABOUT</a></li>
            <li><a href="{% url 'career_list'%}">CAREERS</a></li>
            <li><a href="{% url 'contact'%}">CONTACT</a></li>
            <li><a href="{% url 'login'%}">LOGIN</a></li>
            <li><a href="{% url 'register'%}">REGISTER</a></li>
        </ul>
    </nav>
    <!--LOGIN FORM-->
    <section class="loginsection">
        <h1>LOGIN</h1>
        <p>Login to continue your career journey.</p>
        {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
        <form method="POST">
            {%csrf_token%}
             
            <label for="email">EMAIL</label><br>
            <input type="email" name="email" placeholder="ENTER YOUR EMAIL" required><br><br>
            <label for="password">PASSWORD</label><br>
            <input type="password" name="password" placeholder="ENTER YOUR PASSWORD" required><br><br>
            <BUTTON type="submit">LOGIN</BUTTON>
        </form>
        <br>
        <P>
            Don't have an account?
            <a href="{% url 'register'%}">REGISTER HERE</a>
        </P>
    </section>
     <!--FOOTER-->
    <footer>
        <p>© 2026 Student Carrer Roadmap.All Rights Reserved. </p>
    </footer>
</body>